/* main css file */

/* Define theme colors. */
:root {
  --bg-color1: #d7cec7;     /* grain */
  --bg-color2: #c09f80;     /* tan */
  --bg-color3: #a3bcc3;     /* light blue */
  --accent-color1: #76323f; /* oxblood */
  --accent-color2: #56565c; /* blackboard */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, san-serif;
}

.italic { font-style: italic; }
.bold { font-weight: bold; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.white-space { white-space: pre; }

a {
  text-shadow: none !important;
  text-decoration: none !important;
}

img { display: block; margin: auto; max-width: 100%; height: auto; }

/** Header **/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: gray;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}

.header #heading { padding: 0px 10px; }

.header #sources-label { padding-right: 3px; }

.header #sources { margin-right: auto; }

.header #butInstall {
  display: none;
  margin: 0;
  padding-right: 15px;
}

.header #butRefresh {
  margin: 0;
  padding-right: 15px;
}

.header #butInstall:hover {
  cursor: pointer;
}

.header #butRefresh:hover {
  cursor: pointer;
}

main {
	padding-top: 60px;
}
